/* se debe escribir por jerarquia primero header, body y footer y dentro de cada una de ellas respetar la jerarquia de las etiquetas */
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #eaeaea;
}

/* ----- Estilos Header ------ */
header{
    background-color: #7b5df9;
    position: sticky;
    top: 0px;
    z-index: 100;
}

header div nav div a img{
    height: 50px;
}

/* ----- Estilos Index ------ */
H1{
    text-align: center;
    color: #4b389c;
    padding: 20px;
    margin: 0;
}

.slide{
    margin: 10px;
}

div .carousel-inner div img{
    max-height: 600px;
    border-radius: 10px;
}

.contenMessage{
    margin: 15px;
    text-align: center;
    font-size: large;
    font-style: oblique;
}

.indexH2{
    text-align: center;
    color: #4b389c;
    margin: 25px;
}

section div .step{
    text-align: center;
    padding: 60px;
    margin: 15px 50px 35px 50px;
    border-radius: 40px;
    border-color: #221947;
    border-style: solid;
}

section div .step h6{
    font-size: medium;
    color: #4b389c;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    border-color: #4b389c;
    border-style: dashed;
}

section div .step h5{
    font-size: large;
    color: #4b389c;
    text-decoration: underline;
    margin: 0;
}

/* ------ Estilos Servicios ------ */
main .bannerServicio{
    text-align: center;
}

main .bannerServicio img{
    width: 70%;
    border-radius: 10px;
}

section .contenedorTerapias{
    margin: 30px 30px;
    text-align: center;
    display: grid;
    grid-template-rows: 40%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
}

section .contenedorTerapias .terapia .headTerapia{
    background-color: cornflowerblue;
    color: antiquewhite;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

section .contenedorTerapias .terapia .headTerapia p{
    margin: 0;
}

section .contenedorTerapias .terapia .promTerapia{
    background-color: azure;
    padding: 20px;
}

section .contenedorTerapias div div ul{
    list-style: none;
    padding: 0;
}

main .isapres h2{
    font-family: "Roboto Condensed", sans-serif;
}

main .isapres{
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    text-align: center;
    color: #4b389c;
}

main section .contenedorIsapres{
    margin: 0px 20px;
    padding: 50px 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
}

main .isapres div img{
    width: 50%;
}

/* ------ Estilos Staff ------ */


/* ------ Estilos FAQ ------ */
main .video{
    text-align: center;
}

main .faq{
    text-align: center;
}

main .question{
    text-decoration-line: underline;
    font-style: italic;
    font: bold;
    font-size: 150%;
}

/* ------ Estilos Contacto ------ */
main .mapa{
    text-align: center;
}

/* ------- Estilos Footer ------- */
footer{
    background-color: #7b5df9;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-size: large;
    color: whitesmoke;
    height: 80px;
    width: 100%;
    display: flex;
}

footer .row{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

footer .derechos{
    justify-content: center;
    height: 100%;
    display: flex;
}

footer .derechos p{
    height: 100%;
    justify-content: center;
    align-content: center;
}

footer .redesSociales{
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

footer .redesSociales ul{
    height: 100%;
    width: 50%;
    padding: 0;
    align-content: center;
    justify-content: space-evenly;
    display: flex;
}

footer .redesSociales ul .RRSS{
    align-content: center;
}

footer div ul a img{
    width: 35px;
}

/* ---- MediaQuery ------ */
@media screen and (max-width: 576px) {

    main .servicios{
        height: 920px;
    }

    main section .contenedorTerapias{
        margin: 0 20px;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 30%);
        text-align: center;
        column-gap: 5px;
    }

    main section .contenedorTerapias .terapia .headTerapia{
        padding: 5px;
    }

    main section .contenedorTerapias .terapia .promTerapia{
        padding: 10px;
    }

    main section .contenedorIsapres{
        margin: 0px 20px;
        padding: 15px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        text-align: center;
    }
}