@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #7b5df9;
  position: sticky;
  top: 0px;
  z-index: 100;
}
header div nav div a img {
  height: 50px;
  padding-left: 25px;
}
header div nav div div ul li {
  padding-right: 25px;
}
header div nav div div ul li .menu {
  color: #ffffff;
  font-style: italic;
  font-size: large;
}
header div nav div div ul li .menu:hover {
  color: rgb(95, 95, 199);
  background-color: #ffffff;
  font-size: larger;
  border-radius: 15px;
  transform: scale(1.1, 1.1);
}

/* Footer */
footer {
  background-color: #7b5df9;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-size: large;
  color: #ffffff;
  width: 100%;
  height: 65px;
  display: flex;
}
footer .containerFooter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .containerFooter .derechos {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .containerFooter .derechos p {
  margin: 0;
}
footer .containerFooter .redesSociales {
  height: 100%;
  width: 50%;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}
footer .containerFooter .redesSociales ul {
  margin: 0;
  height: 100%;
  width: 50%;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
footer .containerFooter .redesSociales ul li {
  list-style: none;
}
footer .containerFooter .redesSociales ul li .RRSS {
  align-content: center;
}
footer .containerFooter .redesSociales ul li .RRSS img {
  width: 30px;
}
footer .containerFooter .redesSociales ul li .RRSS img:hover {
  transform: scale(1.2, 1.2);
}

/* Estilo general Main */
main {
  background-image: url(../image/background-page.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
}

/* Estilos Index */
.indexH1 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 900;
  padding: 25px;
  margin: 0;
  color: #2bbce8;
}

.slide {
  margin: 0 50px;
  border-radius: 25px;
  overflow: hidden;
}

section .contenMessage {
  margin: 50px 60px;
  text-align: center;
  font-size: large;
}
section .contenMessage p a {
  font-style: italic;
  font-weight: 800;
  color: #2bbce8;
}
section .contenMessage p span {
  color: #2bbce8;
  font-weight: 600;
}

.indexH2 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 700;
  color: #2bbce8;
  margin-bottom: 15px;
}

.stepProcess {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.stepProcess .card {
  background-color: #F2EFFE;
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 25px;
}
.stepProcess .card .face {
  background-color: #EFF8FF;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.5s;
}
.stepProcess .card .front {
  transform: perspective(600px) rotateY(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stepProcess .card .back {
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.stepProcess .card .back p {
  margin: 0 10px;
}
.stepProcess .card .back p .linkCard {
  font-style: italic;
  font-weight: 800;
  color: #2bbce8;
}
.stepProcess .card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.stepProcess .card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/* Estilos Servicios */
.bannerServicio {
  text-align: center;
}
.bannerServicio img {
  width: 70%;
  border-radius: 10px;
}

section h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 900;
  margin: 0;
  padding: 15px 0 0 0;
  color: #2bbce8;
}
section .containerTerapias {
  margin: 30px 30px;
  text-align: center;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  flex-wrap: nowrap;
}
section .terapia .headTerapia {
  background-color: cornflowerblue;
  color: antiquewhite;
  padding: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
section .terapia .headTerapia p {
  margin: 0;
}
section .terapia .bodyTerapia {
  background-color: azure;
  padding: 20px;
}
section .terapia .bodyTerapia .promoTerapia ul {
  list-style: none;
  padding: 0;
}
section .terapia .bodyTerapia .btnReserva button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: rgba(128, 128, 128, 0.394);
}
section .terapia .bodyTerapia .btnReserva button:hover {
  border: 1px solid black;
  background-color: rgba(79, 77, 77, 0.394);
  text-decoration: underline;
  transform: scale(1.1, 1.1);
}
section .terapia .bodyTerapia .btnReserva button a {
  text-decoration: none;
  color: black;
}

section .isapreH2 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 900;
  color: #2bbce8;
  margin: 0;
}
section .containerIsapres {
  margin-inline: 20px;
  padding: 50px 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
}
section .containerIsapres .isapre {
  text-align: center;
}
section .containerIsapres .isapre img {
  width: 60%;
  text-align: center;
}
section .containerIsapres .isapre img:hover {
  transform: scale(1.2, 1.2);
}

/* Estilos Staff */
.staffH1 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 900;
  color: #2bbce8;
  margin: 0;
  padding: 30px 0 0 0;
}

.staffComent {
  margin: 30px;
  font-size: large;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
.staffComent .msgDesktop {
  width: 85%;
  text-align: center;
}
.staffComent .msgMobile {
  display: none;
}
.staffComent span {
  color: #2bbce8;
  font-weight: 700;
}

.containerStaff {
  height: 600px;
  margin-inline: 45px;
  display: flex;
  gap: 100px;
  text-align: center;
}
.containerStaff .psicologo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.containerStaff .psicologo .imgPsico img {
  border-radius: 200px;
  object-fit: cover;
}
.containerStaff .psicologo .infoPsico .namePsico h2 {
  color: rgb(158, 73, 158);
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.containerStaff .psicologo .infoPsico .certPsico h3 {
  font-style: italic;
  font-size: large;
  text-decoration: underline;
}
.containerStaff .psicologo .msgPsico p {
  margin: 20px;
}

/* Estilos FAQ */
.faqH1 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 900;
  color: #2bbce8;
  margin: 0;
  padding: 25px;
}

.containerVideo {
  display: flex;
  justify-content: center;
}
.containerVideo .video {
  display: flex;
  justify-content: center;
  width: 90%;
}

.containerFaq {
  width: 90%;
  padding: 40px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.containerFaq details .question {
  background-color: #7b5df9;
  color: whitesmoke;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}
.containerFaq details .question:hover {
  font-size: larger;
}
.containerFaq details .answer {
  background-color: aliceblue;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px;
}

/* Estilos Contacto */
.containerForm {
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.containerForm .messageForm {
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.containerForm .messageForm .heart img {
  width: 200px;
  padding-bottom: 25px;
}
.containerForm .messageForm .msgHeart h2 {
  color: #2bbce8;
  font-weight: 900;
  font-style: italic;
  padding: 20px;
  margin: 0;
}
.containerForm .messageForm .msgHeart p .textLink {
  font-style: italic;
  font-weight: 800;
  color: #2bbce8;
}
.containerForm .formulario {
  width: 500px;
  display: flex;
  justify-content: center;
}
.containerForm .formulario form {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 8px inset rgba(119, 218, 237, 0.709);
  border-radius: 10px;
}
.containerForm .formulario form p {
  margin: 0;
}
.containerForm .formulario input {
  padding-left: 5px;
}
.containerForm .formulario .btnSend {
  margin-top: 10px;
  background-color: rgba(119, 218, 237, 0.709);
}
.containerForm .formulario .btnSend:hover {
  font-weight: 900;
}

.containerMapa {
  height: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.containerMapa .consejoMapa {
  text-align: center;
  display: flex;
  justify-content: center;
}
.containerMapa .consejoMapa h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 900;
  color: #2bbce8;
  width: 30%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerMapa .consejoMapa p {
  width: 50%;
  margin: 0;
  padding: 10px;
}
.containerMapa .consejoMapa span {
  color: #2bbce8;
  font-weight: 700;
}
.containerMapa .mapa {
  border: 2px solid black;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.containerMapa .mapa iframe {
  width: 90%;
}

/* Animista */
.rotate-vert-center {
  -webkit-animation: rotate-vert-center 1s ease-in-out 2 both;
  animation: rotate-vert-center 1s ease-in-out 2 both;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
/* mediaquery Pages */
/* Mediaquery Tablet */
@media screen and (max-width: 768px) {
  /* Header */
  header div nav div div ul li .menu {
    padding-left: 5px;
  }
  header div nav div div ul li .menu:hover {
    color: rgb(95, 95, 199);
    background-color: #ffffff;
    border-radius: 5px;
    transform: scale(1);
  }
  /* Index */
  section .contenMessage {
    margin: 30px 35px;
  }
  section .contenMessage .message {
    text-align: justify;
  }
  .stepProcess {
    height: auto;
    padding-bottom: 10px;
  }
  /* Servicios */
  .servicios .containerTerapias {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .servicios .containerTerapias .terapia .headTerapia h2 {
    margin: 0;
  }
  .servicios .containerTerapias .terapia .bodyTerapia {
    padding: 10px 5px;
  }
  .isapres h2 {
    margin: 0;
  }
  .isapres .containerIsapres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .isapres .containerIsapres .isapre img {
    width: 75%;
  }
  .isapres .containerIsapres :nth-child(8) {
    grid-column: 3/4;
  }
  /* Staff */
  .staffH1 {
    margin: 0;
  }
  .staffComent {
    text-align: justify;
  }
  .staffComent .msgDesktop {
    display: none;
  }
  .staffComent .msgMobile {
    display: inline-block;
    margin: 0;
  }
  .containerStaff {
    display: flex;
    gap: 25px;
    margin-inline: 20px;
  }
  /* FAQ */
  .faqH1 {
    margin: 0;
  }
  .containerFaq {
    width: 100%;
  }
  /* Contacto */
  .containerForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .containerForm .messageForm {
    display: flex;
    flex-direction: column-reverse;
  }
  .containerForm .messageForm .msgHeart h2 {
    margin: 0;
    padding: 20px;
  }
  .containerForm .messageForm .msgHeart p {
    margin: 0;
    padding-bottom: 25px;
  }
  .containerMapa {
    gap: 15px;
  }
  .containerMapa .consejoMapa {
    display: flex;
    flex-direction: column;
  }
  .containerMapa .consejoMapa h3 {
    width: 100%;
  }
  .containerMapa .consejoMapa p {
    margin: 0;
    width: 100%;
  }
}
/* MediaQuery Mobile */
@media screen and (max-width: 576px) {
  /* Header */
  header div nav div div ul li .menu {
    padding-left: 5px;
  }
  header div nav div div ul li .menu:hover {
    color: rgb(95, 95, 199);
    background-color: #ffffff;
    border-radius: 5px;
    transform: scale(1, 1);
  }
  /* Index */
  .slide {
    margin: 0 20px;
    border-radius: 25px;
    overflow: hidden;
  }
  section .contenMessage {
    margin: 50px 25px;
  }
  section .contenMessage .message {
    text-align: justify;
  }
  .indexH2 {
    margin: 20px;
    padding-bottom: 20px;
  }
  .stepProcess {
    height: auto;
  }
  /* Servicios */
  .servicios {
    height: 920px;
    padding-bottom: 15px;
  }
  .servicios h1 {
    padding-bottom: 15px;
  }
  .servicios .containerTerapias {
    margin: 0 25px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    text-align: center;
    column-gap: 10px;
  }
  .servicios .containerTerapias .terapia .headTerapia {
    padding: 5px;
  }
  .servicios .containerTerapias .terapia .bodyTerapia {
    padding: 10px;
  }
  .servicios .containerTerapias .terapia .bodyTerapia .btnReserva button:hover {
    transform: scale(1, 1);
  }
  .isapres .containerIsapres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 25px 0;
  }
  .isapres .containerIsapres .isapre img {
    width: 75%;
  }
  .isapres .containerIsapres :nth-child(8) {
    grid-column: 2/3;
  }
  /* Staff */
  .staffComent .msgDesktop {
    display: none;
  }
  .staffComent .msgMobile {
    display: block;
  }
  .containerStaff {
    margin-inline: 15px;
    padding-bottom: 35px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .containerStaff .psicologo {
    margin-inline: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .containerStaff .psicologo .imgPsico img {
    border-radius: 200px;
    object-fit: cover;
  }
  .containerStaff .psicologo .infoPsico {
    padding: 10px;
  }
  /* FAQ */
  .faqH1 {
    margin: 0;
  }
  .containerFaq {
    width: 95%;
  }
  /* Footer */
  footer {
    height: 80px;
  }
  footer .containerFooter {
    display: flex;
    flex-direction: column;
  }
  footer .containerFooter .derechos {
    height: 50%;
    width: 100%;
    font-size: smaller;
    align-items: end;
  }
  footer .containerFooter .redesSociales {
    width: 75%;
    height: 75%;
  }
  footer .containerFooter .redesSociales ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  footer .containerFooter .redesSociales ul li .RRSS img {
    width: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
