/* Estilo general Main */
main{
    background-image: url(../image/background-page.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $fontLato;
}

/* Estilos Index */
.indexH1{
    @include stileTitle($fontRoboto, italic, center, 40px);
}

.slide{
    margin: 0 25px;
    height: 600px;
    overflow: hidden;
    border-radius: 25px;
    .carousel-inner{
        div{
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

section{
    .contenMessage{
        margin: 50px 60px;
        text-align: center;
        font-size: large;
    }
}

.indexH2{
    @include stileTitle($fontRoboto, italic, center, 40px)
}

section .stepProcess{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    column-gap: 15px;
    padding: 25px 10px;
    justify-content: space-evenly;
    .step{
        text-align: center;
        border-radius: 40px;
        background-color: rgba(220, 245, 250, 0.709);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        box-shadow: -5px -5px 5px #888888;
        .stepNumber{
            h6{
                font-size: medium;
                color: #4b389c;
                text-align: center;
                border-radius: 30px;
                border-color: #4b389c;
                border-style: double;
                padding: 10px;
            }
        }
        .stepAction{
            h5{
                font-size: large;
                color: #4b389c;
                text-decoration: underline;
                margin: 0;
                font-style: italic;
            }
        }
    }
}

/* Estilos Servicios */
.bannerServicio{
    text-align: center;
    img{
        width: 70%;
        border-radius: 10px;
    }
}

section{
    h1{
        @include stileTitle($fontRoboto, italic, center, 40px)
    }
    .containerTerapias{
        margin: 30px 30px;
        text-align: center;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 60px;
        flex-wrap: nowrap
        }
        .terapia{
            .headTerapia{
                background-color: cornflowerblue;
                color: antiquewhite;
                padding: 10px;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                p{
                    margin: 0;
                }
            }
            .bodyTerapia{
                background-color:azure;
                padding: 20px;
                .promoTerapia{
                    ul{
                        list-style: none;
                        padding: 0;
                    }
                }
                .btnReserva{
                    button{
                        padding: 8px;
                        border-radius: 5px;
                        border: none;
                        background-color: rgba(128, 128, 128, 0.394);
                        &:hover{
                            border: 1px solid black;
                            background-color: rgba(79, 77, 77, 0.394);
                            text-decoration: underline;
                            transform: scale(1.1, 1.1);
                        }
                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }

section{
    .isapreH2{
        @include stileTitle($fontRoboto, italic, center, 35px)
    }
    .containerIsapres{
        margin-inline: 20px;
        padding: 50px 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 50px;
        .isapre{
            text-align: center;
            img{
                width: 50%;
                text-align: center;
                &:hover{
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
}

/* Estilos Staff */
.staffH1{
    @include stileTitle($fontRoboto, italic, center, 40px)
}

.staffComent{
    margin: 30px;
    text-align: center;
    font-size: large;
    font-style: italic;
    .msgMobile{
        display: none;
    }
    span{
        color: red;
    }
}

.containerStaff{
    height: 600px;
    margin-inline: 45px;
    display: flex;
    gap: 50px;
    text-align: center;
    .psicologo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .imgPsico{
            img{
                border-radius: 200px;
                object-fit: cover;
            }
        }
        .infoPsico{
            .namePsico{
                h2{
                    color: rgb(158, 73, 158);
                    font-style: italic;
                    font-weight: bold;
                    text-shadow: 1px 1px 1px black;
                }
            }
            .certPsico{
                h3{
                    font-style: italic;
                    font-size: large;
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Estilos FAQ */
.faqH1{
    @include stileTitle($fontRoboto, italic, center, 40px)
}

.containerVideo{
    display: flex;
    justify-content: center;
    .video{
        display: flex;
        justify-content: center;
        width: 90%;
    }
}

.containerFaq{
    width: 75%;
    padding: 40px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    details{
        .question{
            background-color: #7b5df9;
            color: whitesmoke;
            font-weight: bold;
            padding: 15px;
            cursor: pointer;
            &:hover{
                font-size: larger;
            }
        }
        .answer{
            background-color: aliceblue;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            padding: 20px;
        }
    }
}

/* Estilos Contacto */
.containerForm{
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    .messageForm{
        background-color: rgb(223, 218, 218);
        width: 500px;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        h2{
            color: rgb(250, 248, 248);
            text-shadow: 5px 5px 5px rgb(116, 37, 114);
            font-style: italic;
            padding: 40px;
        }
    }
    .formulario{
        width: 700px;
        display: flex;
        justify-content: center;
        form{
            width: 90%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border: 8px inset rgba(128, 0, 128, 0.8);
            border-radius: 10px;
        }
        input{
            padding-left: 5px;
        }
    }
}

.containerMapa{
    height: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .consejoMapa{
        padding: 25px;
        text-align: center;
        span{
            color: red;
        }
    }
    .mapa{
        border: 5px solid black;
        padding: 5px;
        display: flex;
        justify-content: center;
        iframe{
            width: 90%;
        }
    }
}