/* Estilo general Main */
main{
    background-image: url(../image/background-page.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $fontLato;
}

/* Estilos Index */
.indexH1{
    @include stileTitle($fontRoboto, italic, center, 900);
    padding: 25px;
    margin: 0;
    color: $colorH;
}

.slide{
    margin: 0 50px;
    border-radius: 25px;
    overflow: hidden;
}

section{
    .contenMessage{
        margin: 50px 60px;
        text-align: center;
        font-size: large;
        p{
            a{
                font-style: italic;
                font-weight: 800;
                color: $colorH;
            }
            span{
                color: $colorH;
                font-weight: 600;
            }
        }
        
    }
}

.indexH2{
    @include stileTitle($fontRoboto, italic, center, 700);
    color: $colorH;
    margin-bottom: 15px;
}

.stepProcess{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    .card{
        background-color: #F2EFFE;
        position: relative;
        width: 300px;
        height: 200px;
        border-radius: 25px;
        .face{
            background-color: #EFF8FF;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 25px;
            overflow: hidden;
            transition: .5s;
        }
        .front{
            transform: perspective(600px) rotateY(0deg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .back{
            transform: perspective(600px) rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            p{
                margin: 0 10px;
                .linkCard{
                    font-style: italic;
                    font-weight: 800;
                    color: $colorH;
                }
            }
        }
        &:hover .front{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back{
            transform: perspective(600px) rotateY(360deg);
        }
    }
}
/* Estilos Servicios */
.bannerServicio{
    text-align: center;
    img{
        width: 70%;
        border-radius: 10px;
    }
}

section{
    h1{
        @include stileTitle($fontRoboto, italic, center, 900);
        margin: 0;
        padding: 15px 0 0 0;
        color: $colorH;
    }
    .containerTerapias{
        margin: 30px 30px;
        text-align: center;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 60px;
        flex-wrap: nowrap
        }
        .terapia{
            .headTerapia{
                background-color: cornflowerblue;
                color: antiquewhite;
                padding: 10px;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                p{
                    margin: 0;
                }
            }
            .bodyTerapia{
                background-color:azure;
                padding: 20px;
                .promoTerapia{
                    ul{
                        list-style: none;
                        padding: 0;
                    }
                }
                .btnReserva{
                    button{
                        padding: 8px;
                        border-radius: 5px;
                        border: none;
                        background-color: rgba(128, 128, 128, 0.394);
                        &:hover{
                            border: 1px solid black;
                            background-color: rgba(79, 77, 77, 0.394);
                            text-decoration: underline;
                            transform: scale(1.1, 1.1);
                        }
                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }

section{
    .isapreH2{
        @include stileTitle($fontRoboto, italic, center, 900);
        color: $colorH;
        margin: 0;
    }
    .containerIsapres{
        margin-inline: 20px;
        padding: 50px 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 50px;
        .isapre{
            text-align: center;
            img{
                width: 60%;
                text-align: center;
                &:hover{
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
}

/* Estilos Staff */
.staffH1{
    @include stileTitle($fontRoboto, italic, center, 900);
    color: $colorH;
    margin: 0;
    padding: 30px 0 0 0;
}

.staffComent{
    margin: 30px;
    font-size: large;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    .msgDesktop{
        width: 85%;
        text-align: center;
    }
    .msgMobile{
        display: none;
    }
    span{
        color: $colorH;
        font-weight: 700;
    }
}

.containerStaff{
    height: 600px;
    margin-inline: 45px;
    display: flex;
    gap: 100px;
    text-align: center;
    .psicologo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .imgPsico{
            img{
                border-radius: 200px;
                object-fit: cover;
            }
        }
        .infoPsico{
            .namePsico{
                h2{
                    color: rgb(158, 73, 158);
                    font-style: italic;
                    font-weight: bold;
                    text-shadow: 1px 1px 1px black;
                }
            }
            .certPsico{
                h3{
                    font-style: italic;
                    font-size: large;
                    text-decoration: underline;
                }
            }
            
        }
        .msgPsico{
            p{
                margin: 20px
            }
        }
    }
}

/* Estilos FAQ */
.faqH1{
    @include stileTitle($fontRoboto, italic, center, 900);
    color: $colorH;
    margin: 0;
    padding: 25px;
}

.containerVideo{
    display: flex;
    justify-content: center;
    .video{
        display: flex;
        justify-content: center;
        width: 90%;
    }
}

.containerFaq{
    width: 90%;
    padding: 40px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    details{
        .question{
            background-color: #7b5df9;
            color: whitesmoke;
            font-weight: bold;
            padding: 15px;
            cursor: pointer;
            &:hover{
                font-size: larger;
            }
        }
        .answer{
            background-color: aliceblue;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            padding: 20px;
        }
    }
}

/* Estilos Contacto */
.containerForm{
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    .messageForm{
        width: 500px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        .heart{
            img{
                width: 200px;
                padding-bottom: 25px;
            }
        }
        .msgHeart{
            h2{
                color: $colorH;
                font-weight: 900;
                font-style: italic;
                padding: 20px;
                margin: 0;
            }
            p{
                .textLink{
                    font-style: italic;
                    font-weight: 800;
                    color: $colorH;
                }
            }
        }
        
    }
    .formulario{
        width: 500px;
        display: flex;
        justify-content: center;
        form{
            width: 90%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border: 8px inset rgba(119, 218, 237, 0.709);
            border-radius: 10px;
            p{
                margin: 0;
            }
        }
        input{
            padding-left: 5px;
        }
        .btnSend{
            margin-top: 10px;
            background-color: rgba(119, 218, 237, 0.709);
            &:hover{
                font-weight: 900;
            }
        }
    }
}

.containerMapa{
    height: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .consejoMapa{
        text-align: center;
        display: flex;
        justify-content: center;
        h3{
            @include stileTitle($fontRoboto, italic, center, 900);
            color: $colorH;
            width: 30%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p{
            width: 50%;
            margin: 0;
            padding: 10px;
        }
        span{
            color: $colorH;
            font-weight: 700;
        }
    }
    .mapa{
        border: 2px solid black;
        padding: 5px;
        display: flex;
        justify-content: center;
        iframe{
            width: 90%;
        }
    }
}
/* Animista */
.rotate-vert-center {
	-webkit-animation: rotate-vert-center 1s ease-in-out 2 both;
	animation: rotate-vert-center 1s ease-in-out 2 both;
}

@-webkit-keyframes rotate-vert-center {
    0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    }
    100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    }
}
@keyframes rotate-vert-center {
    0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    }
    100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    }
}
