// Font //
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);

$fontLato: "Lato", sans-serif;
$fontRoboto: "Roboto Condensed", sans-serif;

// Colors //
$primaryColor: #7b5df9;
$secundaryColor: #ffffff;
$colorH: #004256;

// Mixin //
@mixin stileTitle($font, $style, $aling, $size){
    font-family: $font;
    font-style: $style;
    text-align: $aling;
    font-weight: $size;
}
